{% extends 'base.html' %}

{% block title %} Change Pick-Up {% endblock %}

{% block header %} Change Pick-Up Request {% endblock %}

{% block content %}
<p><a href="{% url 'home' %}">Home</a></p>
<form action="{% url 'customers:change_pickup' %}" method = "POST">
  {%csrf_token%}
  Your pickup day is: {{customer.weekly_pickup}} <br>
  Enter your new weekly pickup day: <input type="text" name='{{customer.change_pickup}}' name="change_pickup" id="change_pickup"><br>
    <input type="submit" value="Update!">
</form>
{% endblock %}

