{% extends 'base.html' %}

{% block title %} Change Pick-Up {% endblock %}

{% block header %} Change the Day of Your Weekly Pick-up {% endblock %}

{% block content %}
<p><a href="{% url 'home' %}">Home</a>

<form action="{% url 'customers:change_pickup' %}" method = "POST">
  {%csrf_token%}
  Your current weekly pickup is on {{customer.weekly_pickup}} of every month.<br>
  Enter your new weekly pickup day: <input type="text" value='{{customer.change_pickup}}' name="change_pickup" id="change_pickup"><br>
    <input type="submit" value="Update!">
</form>
{% endblock %}

