{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Customer Registration</title>
    <a href="{% url 'customers:base' %}">Home</a>

</head>
<body>
  <h1>Create Account</h1>
  <form action="{% url 'customers:create' %}" method="post">
      {% csrf_token %}
      Name: <input type="text" name="name" id="name"><br />
      <br>
      Street Address: <input type="text" name="street_address " id="street_address"><br />
      <br>
      Zip Code: <input type="text" name="zip_code" id="zip_code"><br />
      <br>
      Enter a date for a one-time pick-up: <input type="text" name="one_time_pickup" id="one_time_pickup"><br />
      <br>
      Enter the date you would like to start suspension: <input type="text" name="suspend_start" id="suspend_start"><br />
      <br>
      Enter the date you would like to end suspension: <input type="text" name="suspend_end" id="suspend_end"><br />
      <br>
      <input type="submit" value="Add">
    </form>

</body>
</html>