{% extends 'base.html' %}

{% block title %} Registration {% endblock %}

{% block header %} New Customer Account Set-Up {% endblock %}

{% block content %}
  
<form action="{% url 'customers:register' %}" method = "POST">
  {% csrf_token %}
  <p><a href="{% url 'home' %}">Home</a></p>
  <h2>Please fill out the following fields to create your account: </h2><br>
  <table>
      <tr><td> Name:</td><td> <input type = "text" name = "name" id="name"></td></tr><br>
      <tr><td> Address:</td><td> <input type = "text" name = "address" id="address"></td></tr><br>
      <tr><td> Zip Code:</td><td> <input type = "text" name = "zip_code" id="zip_code"></td></tr><br>
      <tr><td> Weekly Pickup:</td><td> <input type = "text" name = "weekly_pickup" id="weekly_pickup"></td></tr><br>
      <tr><td> Suspend Start:</td><td> <input type = "text" name = "suspend_start" id="suspend_start"></td></tr><br>
      <tr><td> Suspend End:</td><td> <input type = "text" name = "suspend_end" id="suspend_end"></td></tr><br>
  </table>
  <input type = "submit" value="Create Account">
</form>
  
{% endblock %}