{% extends 'base.html' %}

{% block title %} Customer Details {% endblock %}

{% block header %} Customer Account Details {% endblock %}

{% block content %}
  
<form action="{% url 'customers:index' %}" method = "POST">
  {% csrf_token %}
  <h2>Your account details are listed below.</h2>
  <a href="{% url 'customers:index' %}">Home</a>
  <a href="{% url 'customers:change_pickup' %}">Change Weekly Pickup </a>
  <a href="{% url 'customers:pickup' %}">One-Day Pickup </a>
  <table>
        <tr><td> Name:</td><td>{{customer}}</td></tr><br>
        <tr><td> Street Address:</td><td>{{customer.street_address}}</td></tr><br>
        <tr><td> Zip Code:</td><td> {{customer.zip_code}}</td></tr><br>
        <tr><td> Weekly Pickup:</td><td>{{customer.weekly_pickup}}</td></tr><br>
        <tr><td> Suspend Service Start: </td><td>{{customer.suspend_start}}</td></tr><br>
        <tr><td> Suspend Service End: </td><td>{{customer.suspend_end}}</td></tr><br>
        <tr><td> One-time Pickup: </td><td>{{customer.one_time_pickup}}</td></tr><br>
        <tr><td> Account Balance: </td><td>{{customer.balance}}</td></tr><br>
      </table>
      
{% endblock %}